.sort-container {
  display: inline-block;
    padding: 9px 14px;
    font-size: 14px;
    color: #282c3f;
    cursor: pointer;
    width: 255px;
    /* flex: 1; */
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #d4d6d9;
    position: relative;
    margin-right: 30px;
    float: right;
    top: 5px;
}
.sort-container span {
    text-transform: capitalize;
    font-weight: 700;
    color: #282c3f;
}
.down-arrow {
    float: right;
}
