header{
    font-size: 16px;
    height: 80px;
}
.path-routes{
  width: fit-content;
  padding-left: 2%;
  color: #282c3f;
}
.path-routes h4{
  font-size: 14px;
  font-weight: normal;
  padding: 15px 0;
  margin: 0 auto;
}
.path-routes h4 span{
  font-weight: 700;
}
.path-routes-main{
  width: fit-content;
  padding-left: 2%;
  color: #282c3f;
}
.main-text{
  font-size: 16px;
  font-weight: 700;
}
.secondary-text{
  color: #878b94;
}
.row-items{
  margin-top: 10px;
  display: flex;
}
.left-containers{
  flex:1;
  height: 100vh;
  min-width: 15%;
  max-width: 15%;
}
.right-containers{
  flex: 1;
}
.gender-list{
  list-style: none;

  padding-left: 10%;

}
.gender-list li{
  margin-bottom: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.gender-list span{
  font-weight: 700;
  display: block;
}
.gender-list input{
  align-items: center;
  size: 16px;
}
.right-container-top{
  display: flex;
  border-bottom: 1px solid #e9e9ed;
}