.select-size {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
}
.select-size p {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    padding-bottom: 1rem;
}
.select-size .sizes {
    display: flex;
    flex-wrap: wrap;
}
.select-size .circle {
    padding: 12px 15px;
    margin-right: 1rem;
    border: 1px solid #bfc0c6;
    border-radius: 50px;
    cursor: pointer;
}
.select-size .outline {
    border: 1px solid #ff3f6c;
    color: white;
    background-color: #ff3f6c;
    scale: 1.02;
}
.select-size .circle:hover {
    border: 1px solid #ff3f6c;
}
